{% extends "common/base.html" %} 
{% block title %}画像カラー分析{% endblock %}

{% block meta_description %}
<meta name="description" content="アップロードした画像の色を分析し、主要カラーや出現頻度をすばやく抽出するウェブアプリです。デザインやブランドカラーの検討にお役立てください。 / Analyze uploaded images to quickly identify dominant colors and their frequencies. Ideal for design, branding, and creative projects.">
<meta property="og:description" content="アップロードした画像の色を分析し、主要カラーや出現頻度をすばやく抽出するウェブアプリです。デザインやブランドカラーの検討にお役立てください。 / Analyze uploaded images to quickly identify dominant colors and their frequencies. Ideal for design, branding, and creative projects.">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="card shadow">
            <div class="card-header bg-dark text-white text-center">
                <h2>画像カラー分析</h2>
            </div>
            <div class="card-body">
                <div class="text-center mb-4">
                    <form action="/main/colors_image_upload" method="post" enctype="multipart/form-data" class="mb-4">
                        <div class="mb-3">
                            <input type="file" name="file" accept="image/*" required class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">分析開始</button>
                    </form>
                </div>              
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-4">      
    <img src="{{ url_for('static', filename='main/top/analysis.jpg') }}">    
</div>

{% endblock %}