<!-- HOERO_en -->
<!DOCTYPE html>

<HTML lang="en">
<HEAD>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JLCPNFKCHD"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config','G-JLCPNFKCHD');
    </script>

 
    <meta name=”viewport” content=”width=device-width,initial-scale=1″>  
    <meta http-equiv="content-type" charset="utf-8">
    <meta name="robots" content="all">
    <meta http-equiv="Content-Style-Type" content="text/css"> 
    <meta name=“keywords” content=“dentaltecnitian”>
    <link rel="canonical" href="https://hoeroworld.shibuya8020.com/">
    <meta name="description" content="HOERO" />
    <title>HOERO Dental Technician</TITLE>

    <!--require_stylesheet-->  
    <link rel="stylesheet" href="stylettop.css">

    <!--Favicon-->
    <link rel="icon"href="shibuya/favicon.ico">

</head>
<body>
  <center>
    <h1>TEST</h1>
    <h1>World of HOERO Dental Tecnician</h1>
    <h2>I am Dental Tecnitian.Every day is fun.</h2>
     <img src="images/top.jpg">
     <p>diary</p>
     <h2><a href="nikki/001211.html">11/12/2000</a></h2>
     <h2><a href="nikki/001217.html">17/12/2000</a></h2>
     <h2><a href="nikki/001220.html">20/12/2000</a></h2>
     <h2><a href="nikki/001221.html">21/12/2000</a></h2> 
     <h2><a href="nikki/omake.html">Bonus</a></h2> 
   
  </center>  
</body>
</html>